* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dupa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    
}

header .top-info {
    width: 100%;
    text-align: right;
}

header .logo {

}

header nav {
 margin-left: 80px;   
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header .right-nav {

}