* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  &:before,
  &:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
}

$primary: #007ce6;

body {
  overflow-x: hidden !important;
  height: 2000px;
}

html {
  font-size: 16px;
  overflow-x: hidden !important;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top-info {
  color: #808080;
  margin-bottom: 40px;
  font-size: 14px;

  a {
    text-decoration: none;
  }
}

.main_nav {
  display: flex;
  align-items: center;
  position: relative;
}

header {
  .hidden-mobile {
    display: inline-block;

    .top-info {
      width: 100%;
      text-align: right;
      margin-top: 5px;

      nav {
        margin-left: 80px;

        ul {
          list-style-type: none;

          li {
            display: inline-block;
            padding-right: 40px;

            a {
              text-decoration: none;
              color: $primary;

              @media screen and (max-width: 450px) {
                svg {
                  width: 125px;
                }

                .hamburger svg {
                  width: 20px;
                  display: none;

                  &.active {
                    display: block;
                  }
                }

                .hamburger_menu {
                  display: block;
                  color: $primary;

                  &.active {
                    display: none;
                  }
                }

                @media screen and (min-width: 450px) and (max-width: 768px) {
                  .hamburger svg {
                    width: 25px;
                    display: none;

                    &.active {
                      display: block;
                    }
                  }

                  .hamburger_menu {
                    display: block;
                    color: $primary;

                    &.active {
                      display: none;
                    }
                  }

                  header nav {
                    width: calc(50% + 40px);
                  }

                  .hamburger_close {
                    width: 125px;
                  }
                }

                @media screen and (min-width: 768px) and (max-width: 992px) {
                  header nav {
                    width: calc(30% + 40px);
                  }

                  .hamburger_close {
                    display: none;
                  }

                  .hamburger svg.active {
                    display: block;
                  }

                  .hamburger_menu {
                    display: block;
                    color: #007ce6;

                    &.active {
                      display: none;
                    }
                  }
                }

                @media screen and (min-width: 992px) and (max-width: 1150px) {
                  .container {
                    width: 100%;
                    padding: 0 20px;
                    margin: 0;
                  }

                  header nav ul li {
                    padding-right: 20px;
                  }
                }

                @media screen and (max-width: 992px) {
                  svg {
                    width: 140px;
                  }

                  .top-info {
                    margin-bottom: 15px;
                  }

                  .hamburger svg {
                    width: 30px;
                  }

                  .hidden-mobile {
                    display: none;
                  }

                  .container {
                    width: 100%;
                    padding: 0 20px;
                    margin: 0;
                  }

                  header {
                    .top-info p {
                      font-size: 12px;
                    }

                    nav {
                      position: absolute;
                      top: 20px;
                      padding: 20px;
                      background: #005aa8;
                      right: -200px;
                      top: calc(100% + 20px);
                      z-index: 10;
                      width: calc(100% + 40px);
                      transition: all 0.6s ease-in-out;
                      opacity: 0;

                      &.active {
                        opacity: 1;
                        right: -20px;
                      }

                      ul {
                        margin: 0;
                        padding: 0;
                        text-align: center;

                        li {
                          display: block;
                          padding-right: 0;
                          margin: 20px 0;

                          a {
                            color: #ffffff;
                          }
                        }
                      }
                    }
                  }

                  .main_nav {
                    width: 100%;
                    justify-content: space-between;
                    margin-right: 0;
                  }

                  .right-nav {
                    display: none;
                  }

                  .hamburger {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }

    .right-nav ul {
      list-style-type: none;

      li {
        display: inline-block;
        padding-right: 40px;

        &:last-child {
          padding-right: 0;
        }

        a {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }

  .virus {
    background: $primary;
    margin-top: 20px;
  }

  .covid_text {
    padding: 5px 0;
    color: #ffffff;
  }

  .covid_button a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 6px 30px;
    display: inline-block;
    margin: 7px 0;
  }

  .hero {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      display: block;

      &.hero_rectangle {
        background: $primary;
        border-radius: 90px;
        position: absolute;
        bottom: -310px;
        transform: rotate(20deg);
        left: 0;
        padding: 50px 100px 350px 70px;

        .hero_text {
          transform: rotate(-20deg);

          h1 {
            color: #ffffff;
            font-size: 40px;

            span {
              display: block;
            }
          }

          h2 {
            font-size: 20px;
            color: #ffffff;
            padding: 30px 0;
          }

          a {
            text-decoration: none;
            font-size: 22px;
            color: $primary;
            border: 1px solid transparent;
            background: #ffffff;
            padding: 10px 10px;
            border-radius: 10px;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
  }
}
