
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 16px;
}
.container {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.top-info {
    color:#808080;
    margin-bottom: 40px;
    font-size: 14px;
}
.top-info a {
    text-decoration: none;
}
.logo{
    padding-right: 80px;
}
.main_nav {
    display: flex;
    align-items: center;
}
header .top-info {
    width: 100%;
    text-align: right;
    margin-right: 40px;
    margin-top: 5px;
}
header nav {
    margin-left: 80px;
    
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding-right: 40px;
}
header nav ul li a {
    text-decoration: none;
    color: #007CE6;
}
header .right-nav ul {
    list-style-type: none;
}
header .right-nav ul li {
    display: inline-block;
    padding-right: 40px;
}
header .right-nav ul li a {
    text-decoration: none;
    color: #007CE6;
    font-size: 3em;
}